RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.(php|css|js|htc|png|gif|jpeg|jpg|ico)$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*[^/])$ $1/ [L,R=301]
Redirect 301 /pastnews/empty/50/ https://by-by.info
Redirect 301 /pastnews/history/50/ https://by-by.info/history/
# Redirect 301 /pastnews/belnews/50/ https://by-by.info/belnews/
Redirect 301 /pastnews/coldwar/50/ https://by-by.info/coldwar/
Redirect 301 /pastnews/polithumor/50/ https://by-by.info/polithumor/
# Redirect 301 /pastnews/bestmemes/50/ https://by-by.info/bestmemes/
# Redirect 301 /pastnews/caricatures/50/ https://by-by.info/caricatures/
# Redirect 301 /pastnews/ancientukri/50/ https://by-by.info/ancientukri/
Redirect 301 /pastnews/economy/50/ https://by-by.info/economy/
Redirect 301 /pastnews/agents/50/ https://by-by.info/agents/
Redirect 301 /pastnews/eaes/50/ https://by-by.info/eaes/
Redirect 301 /pastnews/SovetskijSojuz/50/ https://by-by.info/SovetskijSojuz/
Redirect 301 /pastnews/splitmind/50/ https://by-by.info/splitmind/
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule (.*) https://by-by.info/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

DirectoryIndex index.php